/* *{box-sizing: content-box;} */
body{margin: 0;font-family: 'Montserrat', sans-serif;}

/* haut de page */
.search-link{margin-left: 20px;}


/* Le logo */
@font-face {
 font-family: "Motion Picture";
 src: url(../fonts/MotionPicture_PersonalUseOnly.ttf);
}
.logo{
    font-family: "Motion Picture", serif;
    text-align: center;
    font-size: 4em;
    font-weight: lighter;
    margin: 0 auto;
}
.logo-grey{color:#707070;}
.logo-green{color: #08B597;}

/*banniere*/
.ban{
    display: block; 
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: brightness(50%);
}

.logo-line{ opacity: 0.2;}
.logo-line + nav{margin: 20px 0;}
.logo-line + nav a{
    margin-right: 20px;
    text-decoration: none;
    color: #8b8b8b;
}

.flex{display: flex;}
.flex-col{ display: flex; flex-direction: column;}
.flex-around{justify-content: space-between}
.btn{
    padding: 6px 18px;
    border-radius: 18px;
    text-decoration: none;
    color: white;
    background-color: #08B597;
}
.date{font-size: 10px;}

/*Les grands titres*/
.big-title{font-family:'Merriweather', serif;}
h5.big-title{font-size: 12px;width: 170px;}
h2.big-title {width: 750px;font-size: 36px;}
h2.big-title + .date{margin-bottom: 70px;}

/* les arrieres-plan */
.bg-green{background-color: #08B597;color: white;}
.bg-grey{background-color: #f9f9f9;}


/* classes utilitaires */
.parent-ref{position: relative;}
.abs-right{position: absolute;right: 0}
.abs-center{position: absolute;top: 60%;left: 50%; transform: translateX(-50%) translateY(-50%);}
.abs-bottom{position: absolute;bottom: 15px;}
.abs-top{position: absolute;top: 0}
.d-inline-block{display: inline-block}
.relative-top{position: relative;bottom: 80px;}

.m-0{margin: 0;}
.my-0{margin: 0  auto;}
.mb-0{margin-bottom: 0}
.mb-4{margin-bottom:4px;}
.mr-5{margin-right: 5px;}
.px-10{padding-right:10px;padding-left:10px;}
.py-10{padding-top:10px;padding-bottom:10px;}
.pt-50{padding-top: 50px;}
.pt-40{padding-top: 40px;}
.text-white{color: white;}
.small-caps{font-variant: small-caps;}
.text-bold{font-weight: bolder;}

/* les liens */
.small-img{width: 220px; margin-right:20px;}
header nav > a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/*bloc principal*/
.container{width: 900px;margin: auto}
.line-green{border: 1px solid #08B597;width: 52px;}