body{ margin: 0;}
header{
    background-color:white;
}
header > div.container:first-child{
    padding: 10px 0 0 0;
}
.container{
    width: 900px;
    margin: 0 auto;
}
.main-menu{
    padding-top:30px; 
    float: right;
}
.main-menu a{
    margin-right:10px; 
}

.btn{
    text-decoration: none;
    background-color: #2ed573;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(68, 65, 65);
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover{
    box-shadow: 1px 1px 3px rgb(68, 65, 65);
}

/* la partie principale de la page */
main{
    position: relative;
    height: 80vh;
    background: linear-gradient(rgba(151, 145, 145, 0.50),  rgba(0, 0, 0, 0.50)),
    url("../img/gabon_paysage.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}