*{
    font-family: 'Julius Sans One', sans-serif;
}
body{margin: 0;}
.container{
    width: 900px;
    margin: 0 auto;
}

nav, nav li{display: inline-block;}
ul {
    list-style: none;
    padding-left:0;
}
nav a:not(.logo){padding:16px;}
nav a:not(.logo), footer a{
    text-decoration: none;
    color: rgb(24, 23, 23);
}
footer a{
    color: white;
}
nav li a:hover, .active{
    background-color: #2ed573;
    color: white;
}
.logo img{width: 60px;}
section:first-of-type {
    background-image: linear-gradient(rgba(30, 30, 31, 0.45),rgba(0,0,0,0.45)),url(../img/gabon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:first-of-type h1{
    text-align: center;
    color: white;
}
input[type="text"]{
    border: none;
    width: 500px;
    font-size: 20px;
    padding: 10px;
}
label{
    font-size: 20px;
    padding: 10px;
    background-color: white;
}
.btn{
    display: block;
    margin: 20px auto;
    background-color:white;
    border-style: none;
    padding: 20px 50px;
    font-weight: bold;
}
.btn:hover{
    background-color: #0fb855;
    color: white;
}


/* le footer */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    background-color: #ffffff;
    background-color: #0fb855;
    color: rgb(110, 110, 155);
    padding: 10px;
}
footer p{
    color: rgb(236, 236, 81);
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom:  1px solid white;
}
footer li{
    padding-top: 10px;
}
footer a:hover{color: #dcdde1;}